
.right{
    height: 250px;
    width: 450px;
    float: right;
    background-color:yellowgreen;
    text-align: justify;
    text-indent: 25px;
    margin-right: 3%;
    margin-top: 5%;
    padding-left: 2%;
    padding-right:3%;
    border-radius: 5px;
}
.left{
    height: 250px;
    width: 450px;
    background-color: yellowgreen;
    float: left;
    text-align: justify;
    text-indent: 25px;
    margin-left: 3%;
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 2%;
    border-radius: 5px;

}
.tytul{
    font-size: 25px;
    text-align: center;
}


