
.right{
    height: 280px;
    width: 500px;
    float: right;
    background-color:lightgrey;
    text-align: justify;
    text-indent: 25px;
    /*margin-right: 3%;*/
    margin-top: 5%;
    padding-left: 2%;
    padding-right:3%;
    /*border-radius: 5px;*/
}
#eva2>right{
    border-bottom-right-radius: 15px;
}
#eva>left{
    border-bottom-left-radius: 15px;
}
.left{
    height: 280px;
    width: 500px;
    background-color:lightgray;
    float: left;
    text-align: justify;
    text-indent: 25px;
    /*margin-left: 3%;*/
    margin-top: 5%;
    padding-left: 3%;
    padding-right: 2%;
    /*border-radius: 5px;*/

}
.tytul{
    font-size: 25px;
    text-align: center;
}
/*#eva2>div>input{*/
    /*margin-top: 16px;*/
/*}*/
/*.right{*/
    /*background-image: url("../images/spacer.jpg");*/
    /*height: 250px;*/
    /*width: 450px;*/
/*}*/
/*.left{*/
    /*background-image: url("../images/gdansk.jpg");*/
    /*height: 250px;*/
    /*width: 450px;*/
    /*opacity: .7;*/
/*}*/
.clear{
    clear: both;
}

/*.function-more{*/
    /*float: right;*/
/*}*/

/*footer{*/
    /*margin-left: auto;*/
    /*display: block;*/
/*}*/


footer{
    margin-left: 40px;
    margin-right: 40px;
    font-size: smaller;
    /*display: block;*/
}
footer>div {
    display: inline-block;
    margin: 0 auto;
    opacity: 0.5;
}

.pra{
 float: left;
 }
.lew {
    float: right;
    margin-right: 270px;
}
.cen{
    float: right;
}