/*ustawienia ogolne*/
@font-face {
    font-family: Bandy;
    src:url(CW_BANDY.TTF);
}
.clear{
    clear: both;
}
#gora{
    /*height: 1000px;*/
    height: auto;
}
#dol{
    /*height: 1000px;*/
    height: auto;
}

#funkcja{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.right{
    height: 437px;
    width: 1140px;
    float: right;
    background-color:#F4EDA5;
    text-align: center;
    text-indent: 25px;
    margin-top: 5px;
    padding-left: 3%;
    padding-right:2%;
    margin-right: auto;
    margin-left: auto;

}
.left {
    height: 437px;
    width: 1140px;
    background-color: #F4EDA5;
    float: left;
    text-align: center;
    text-indent: 25px;
    margin-top: 5px;
    padding-left: 3%;
    padding-right: 2%;
    margin-right: auto;
    margin-left: auto;
}

 .tytul{
    margin-right: 50px;
    color:#AD093A;
     font-size: 25px;
     text-align: center;
}

.styl {
    font-size: 20px;
    color:#F4EDA5;
    height: 33px;
    width: 500px;
    background-color: #2C163B;
    display: block;
    float: right;
    margin-top: 270px;
    align-content: center;
    overflow: hidden;
    font-family: 'Inder', sans-serif;
    padding-top: 10px;
}
.styl2 {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Inder', sans-serif;
}
.styl3{
    margin-left: 12px;
    width: 500px;
    height: 300px;
    background-position: right;
    background-size: 570px;
    opacity: 0.0;
    animation: wyjscie 5s  ;
    animation-fill-mode: forwards;
}
@keyframes wyjscie {
    100% {opacity: 1.0;}
}
.styl3:hover div {
    background-color: #F4EDA5;
    transition-duration: 1s;
    height: 120px;
    transform: translateY(-90px);
    opacity: 0.9;
    color:#AD093A;
}

/*dodanie zdjęć*/
.foto {
    background-image: url(../images/wystawa.jpg);
}
.foto4 {
    background-image: url(../images/mapa2.jpg);
}
.foto2 {
    background-image: url(../images/money2.jpg);
}
.foto3{
    background-image: url(../images/time.jpg);
}

.pomniejszeFunkcjonalnosci{
    /*width:1200px;*/
    width:auto;
    /*height: 245px;*/
    height: 500px;
    display: inline-block;
    text-align: center;
}

.ikonyFunMale{
    width: 174px;
    height: 174px;
    margin: 35px 80px 25px;
    border-radius: 50%;
    background-color: rgba(244, 237, 165, 0.75);
    text-align: center;
    display: inline-block;
}

/*.pomniejszeFunkcjonalnosci div:last-child{*/
    /*margin-right: 10px;*/
    /*width: 134px;*/
/*}*/


.ikonyFunMale .podpis {
    position:relative;
    text-align: center;
    font-weight: bold;
    /*margin-left:-35px;*/
    color:#AD093A;
}

.ikonyFunMale img{
    width: 100px;
    height: 100px;
    margin-top: 37px;
    /*margin-left: -42px;*/
}



.ikonyFunMale:hover img {
    width: 120px;
    height: 120px;
    margin-top:22px;
    /*margin-left:-37px;*/
    /*content: 'test';*/
    cursor: pointer;
}

.ikonyFunMale:hover .podpis {
    display:none;
}

