
footer{
    background-color: #E7703D;
    font-family: 'Inder', sans-serif;
    height: 380px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 5px;
    padding-top: 5px;
    font-size: 11px;
}

.pra{
    display: inline-block;
    float:right;
    margin-right:20px;
    width:470px;
    text-align: right;
}

.cen{

    display: inline-block;
    margin-top: 20px;
    width:220px;
    text-align: center;

}

.lew{

    display: inline-block;
    float:left;
    margin-left:20px;
    margin-top: 20px;
    width:470px;

}
.social{


}
.fa{
    cursor: pointer;
    color:#2C163B;
    text-align: center;
    transition: color 0.5s;
}
.fa:hover{
    color:#F4EDA5;
    text-align: center;
}