
footer{
    background-color: #CAA8D1;
    height: 430px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: 5px;
    padding-top: 5px;
    font-size: smaller;
}

/*.pra{*/
    /*float: left;*/
/*}*/
/*.lew {*/
    /*float: right;*/
    /*margin-right: 270px;*/
/*}*/
/*.cen{*/
    /*float: right;*/
/*}*/