/*Przywrócenie hierarchii renderingu elementów strony*/
.clear{
    clear:both;
}
/*Kontener formularza*/
.formularz{
    margin: 35px;
    padding:15px;
    background-color: aquamarine;
    border-radius: 5px;
}
/*Elementy pola zawierającego formularz*/
.formularz .fieldset-napis{
    border-radius: 5px;
    padding:10px;
    border-color: saddlebrown;
    box-shadow:0 0 10px #666;
}
legend{
    text-align: left;
    background-color: aquamarine;
    margin-left:5px;
}
/*##########################################################
####################Pola formularza#########################*/
.form-line{
    margin: 5px 45px 5px 5px;
}
.opis-pola{
    margin-left:16px;
    margin-bottom: -15px;
    display: block;

}
.plec {
    text-align:center;
    margin-top: 15px;
}
.form-input-text:focus {
    outline: none;
    background-color: lightblue;
}
.form-input-text{
    width:100%;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 40px;
    background-size: 30px 30px;
    border-radius: 25px;
    height: 35px;
    font-size:18px;
}
.pole-formularz-imie{
    background-image: url('../images/imie_ikona.png');
}
.pole-formularz-mail {
    background-image: url('../images/e-mail_ikona.png');
}
.form-wyslij{
    width:104%;
    height:35px;
    margin-top: 10px;
    margin-bottom: 6px;
    border-radius: 25px;
    font-size: 18px;
 }