/*Przywrócenie hierarchii renderingu elementów strony*/
.clear{
    clear:both;
}

/*Kontener formularza*/
.formularz{
    float: right;
    width:520px;
    text-align:center;
    padding:15px;
    font-family: 'Inder', sans-serif;
    opacity: 0.0;
    animation: wyjscie 5s  ;
    animation-fill-mode: forwards;
}
@keyframes wyjscie {
    100% {opacity: 1.0;}
}

/*##########################################################
####################Pola formularza#########################*/
.formularz .form-line{
    margin: 5px 85px 5px 45px;
}

.formularz .opis-pola{
    margin-left:16px;
    margin-bottom: -15px;
    display: block;
    font-family: 'Inder', sans-serif;
}

.formularz .form-input-text:focus {
    outline: none;
    background-color: #FFCB50;
}
.formularz .form-input-text{
    width:100%;
    font-family: 'Inder', sans-serif;
    background: #fff no-repeat 2px 3px;
    padding-left: 40px;
    background-size: 30px 30px;
    border-radius: 25px;
    height: 35px;
    font-size:18px;
}
.formularz .pole-formularz-imie{
    background-image: url('../images/imie_ikona.png');
}
.formularz .pole-formularz-mail {
    background-image: url('../images/e-mail_ikona.png');
}
.formularz .pole-formularz-tel {
    background-image: url('../images/phone_ikona.png');
}

.formularz .form-wyslij {
    color:#AD093A;
    width: 73px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 6px;
    border-radius: 25px;
    font-size: 18px;
    transition-property: background,color,width;
    transition-duration: 1s;
    background: transparent;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.formularz .form-wyslij:hover,.form-wyslij:focus {
    background: #2C163B;
    color:white;
    width: 430px;
    outline: none;
}

.formularz .form-wyslij-pole{
    margin-top: -10px;
}

/* checkbox */
.input-styled  {
    width:35px;
    height:35px;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    display:inline-block;
    background: #fff no-repeat;
}

.input-styled  input {
    width:35px;
    height:35px;
    opacity:0;
    position: absolute;
    top:0; left:0;
    z-index: 2;
    cursor:pointer;
}

.input-styled  input + span {
    display:block;
    position: relative;
    z-index: 1;
    width:29px;
    height:29px;
    background-image: url("../images/ok_ikona.png");
    background-size: 29px 29px;
    left:-35px;
    top: 3px;
    transition:0.2s; -webkit-transition:0.2s; -moz-transition:0.2s;
}

.input-styled  input:checked + span {
    left:3px;
}

.cBoxLabel{
    font-size: 18px;
}

/*Komunikat po kliknięciu pola wyślij*/
.formularz .text{
    display: inline;
    position: relative;
    bottom: 12px;
}

.formularz .form-line .cBox {
    text-align: left;
    position: relative;
    width:400px !important;
}
.zgoda{
    margin-left: 45px !important;
    margin-right: 65px !important;
}

.oknoZaslaniania{
    overflow-x: hidden;
    width: 550px;
    margin: 0 auto;
}

.mask{
    float: left;
    background-color: #E7713F;
    width: 550px;
    font-size: x-large;
    font-weight: bold;
    text-shadow: 1px 1px 1px white;
    text-align: center;
    height:212px;
    padding-top: 100px;
    line-height: 32px;
    margin-left: -551px;
}

@keyframes wjazd {
    from {
        margin-left: -551px;
    }
    to{
        margin-left:0px;
    }
}

@keyframes zjazd {
    from {
        margin-right: 0px;
    }
    to{
        margin-right:-551px;
    }
}