#gierka {
    width: 784px;
    margin: auto;
}

#gierka div {
    border-radius: 15px;
    margin: 5px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid white;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
}