body header {
    background-color:blanchedalmond;
    width:auto;
    height: 180px;
    border:6px solid saddlebrown;
    border-radius: 15px;
    padding-right:2%;
    margin: 40px ;


}
body header img{
    height: 180px;
    width: auto;
    border-bottom-left-radius:7px;
    border-top-left-radius:7px;
    float:left;
    margin-left: 0px;


}
body header div {

    height: auto;
    width: auto;
    align-items: center;
    margin-right: 4%;
    float: right;
    margin-top: 150px;
    margin-right: 6%;
    font-family: Vivaldi;
    font-size: 25px;
}
body{
    width: 1200px;
    font-size: medium;
    font-family:sans-serif;
}