body {

    margin-left: auto;
    margin-right: auto;
    /*width: 1200px;*/
    font-size: medium;
    font-family: bandy, sans-serif;
    background-color: #2C163B;
}
.naglowek-menu {
    width: 1200px;
    height: 40px;

}
.naglowek-menu a {
    color: black;
    text-decoration: none;
}
.naglowek-menu ul {

    text-align: center;
    position: fixed;
    width: 1200px;
    display: inline-block;
    vertical-align: middle;
    left: 0px;
    right: 0px;
    z-index: 1;
}

.naglowek-menu ul li {

    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    width: 250px;
    background-color: #AD093A;
    border-radius: 15px;
    font-family: Bandy;
    font-weight: bold;
    line-height: 30px;
    color: black;
}


body header {

    background-color: #E76F3B;
    width: auto;
    height: 450px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-repeat: no-repeat;
    position: relative;
}

#naglowek-strony .funkcja_obrazek {

    width: 390px;
    height: 130px;
    background-image: url('../images/trojmiasto.png');
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    text-align: center;
    display: block;
}

#naglowek-strony .tytul-duzy {

    /*width: 1200px;*/
    height: 180px;
    font-size: 150px;
    font-family: Bandy;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
    text-align: center;
    display: block;
}

#naglowek-strony .tytul_maly {

    text-align: center;
    font-size: 23px;
    font-family: 'Inder', sans-serif;
    font-weight: lighter;
}

