body {
    margin-left: auto;
    margin-right: auto;
    /*width: 1200px;*/
    font-size: medium;
    font-family: bandy, sans-serif;
    background-color: #2C163B;
    background-image: url(../images/party2.jpg);
    background-size: cover;
}

/*.par {*/

    /*background-position: 50%;*/
    /*background-attachment: fixed;*/

    /*perspective: 1px;*/
    /*height: 100vh;*/
    /*overflow-x: hidden;*/
    /*overflow-y: auto;*/
/*}*/

/*.par_layer {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
/*}*/

/*main {*/
    /*transform: translateZ(0);*/
    /*position: fixed;*/
/*}*/

/*.par_back {*/
    /*background-image: url(../images/party2.jpg);*/
    /*background-size: cover;*/
    /*!*transform: translateZ(-1px) scale(2);*!*/
/*}*/

header {
    background-color: #E76F3B;
    width: auto;
    height: 400px;
    background-repeat: no-repeat;
    position: relative;
}

.naglowek-menu {
    width: auto;
    height: 50px;
    background-color: #E76F3B;
}

.naglowek-menu a {
    color: black;
    text-decoration: none;
}

.naglowek-menu ul {
    text-align: center;
    position: fixed;
    width: auto;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: #E76F3B;
    line-height: 50px;
}

.naglowek-menu ul li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    width: 250px;
    background-color: #AD093A;
    border-radius: 15px;
    font-family: Bandy;
    font-weight: bold;
    line-height: 30px;
    color: black;
}

#naglowek-strony .funkcja_obrazek {
    width: 390px;
    height: 130px;
    background-image: url('../images/trojmiasto.png');
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    text-align: center;
    display: block;
    opacity: 0.0;
    animation: wyjscie 5s  ;
    animation-fill-mode: forwards;
}

#naglowek-strony .tytul-duzy {
    height: 220px;
    font-size: 150px;
    font-family: Bandy;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    text-align: center;
    display: block;
}

#naglowek-strony .tytul_maly {
    text-align: center;
    font-size: 23px;
    font-family: 'Inder', sans-serif;
    font-weight: lighter;
    opacity: 0.0;
    a+nimation: wyjscie 5s  ;
    animation-fill-mode: forwards;
}

@keyframes wyjscie {
    100% {opacity: 1.0;}
}

.aktywny {
    background-color: aqua;
}
